/* création de la variable de la couleur the guudman, pour pouvoir la réutiliser */
:root {
    --jaune-guudman: #EFAF00;
}


/* Centrage du menu */
.navMenu {
    text-align: center;
}

/* Mise en forme du menu */
.navMenu a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    display: inline-block;
    width:150px;
    transition: all 0.25s ease-in-out;
    background-color: black;
}

/* La section du menu devient jaune lorsque la souris passe dessus */
.navMenu a:hover {
    color: var(--jaune-guudman);
}

    /*  Essai d'une animation sur le menu
        
        .navMenu .dot {
        width: 0.5em;
        height: 0.5em;
        background: var(--jaune-guudman);
        border-radius: 60%;
        opacity: 0;
        -webkit-transform: translateX(6em);
        transform: translateX(5em);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .navMenu a:nth-child(1):hover ~ .dot {
        -webkit-transform: translateX(6em);
        transform: translateX(6empx);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 1;
    }

    .navMenu a:nth-child(2):hover ~ .dot {
        -webkit-transform: translateX(6em);
        transform: translateX(6em);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 1;
    }

    .navMenu a:nth-child(3):hover ~ .dot {
        -webkit-transform: translateX(6em);
        transform: translateX(6em);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 1;
    }

    .navMenu a:nth-child(4):hover ~ .dot {
        -webkit-transform: translateX(6em);
        transform: translateX(6em);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 1;
    }*/

      