/* titre d'accueil de la page d'accueil*/
 #titre {
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    text-shadow: 0.6em 0.3em 0.1em rgb(0 0 0 / 40%); /*ombre du titre */
    display: inline-block;
    color: var(--jaune-guudman);
    font-size: 1.5em;
    padding: 1%;
}

#titreHaut {
    text-shadow: white 2.5px 2.5px 0, grey 5px 5px 0, var(--gris-guudman) 7.5px 7.5px 0, darkgrey 10px 10px 10px;
    color: var(--jaune-guudman);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    font-size: 2em;
    padding: 1%;
}

#titreHaut span {
    text-transform: uppercase;
    font-size: 1.5em;
}



/*création des variables de couleurs, pour pouvoir les réutiliser*/
:root {
    --jaune-guudman: #EFAF00; 
    --gris-guudman: #161616;
}

/* phrase d'accueil dans la page d'accueil*/
#texte p{ 
    padding-right: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: black;
    font-size: 3vw;
    display: inline-block;
}



#body {
    display: block;
    margin: 0% 5% 0% 5%;
}

.nav {
    color: var(--jaune-guudman);
    display: block;
    background-color: black;
    padding: 1%;
    width: auto;
    
}


.titre1 {
    display: block;
    color: black;
    padding: 1%;
    width: auto;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2em;
    text-shadow: 0em 0.1em 0.1em rgb(0 0 0 / 40%);
    margin-left:10%;
}

#gris {
    display: block;
    background-color: var(--gris-guudman);
    padding: 3%;
    width: auto;
}


#jaune {
    display: block;
    background-color: var(--jaune-guudman);
    width: auto;
}


#noir {
    background-color: black ;
    width: auto;
}


#noir img.images {
    vertical-align: top;
    display: inline-block;
    padding: 1%;
    width: auto;
}


#blanc {
    display: block;
    background-color: white;
    padding: 1%;
    width: auto;
    margin: auto;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    align-items: stretch;
    margin: auto;
    width: auto;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 32%;
    max-width: 32%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* Footer grid*/
.rowFooter {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 75px;
    align-items: stretch;
    margin: auto;
    width: auto;
}

/* Create four equal columns that sits next to each other */
.columnFooter {
    flex: 24%;
    max-width: 24%;
    padding: 0 4px;
}

.columnFooter img {
    margin-top: 8px;
    height: 80%;
    vertical-align: middle;
    width: 50%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .columnFooter {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .columnFooter {
        flex: 100%;
        max-width: 100%;
    }
}


#faq p {
    color: var(--gris-guudman);
    transition: all 1.5s ease-in-out;
    font-weight:400;
}

#faq h2:hover + p, #faq h2:focus, #faq p:hover {
    color: white;
}

a {
    text-decoration: none;
    color: var(--jaune-guudman);
}

 a :visited {
     text-decoration:none;
     color:var(--jaune-guudman);
 }
 
#story {
    font-family: 'Kristen ITC';
    display: inline-block;
    color: var(--jaune-guudman);
    font-size: 2vw;
    
}


